{% extends 'base.html' %}

{% block head_title %} 
This is amazing!!!
{% endblock head_title %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to MicroFictions</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='story-create-form' method='POST' action='/create-story'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='Your story...'></textarea>
            <button type='submit' class='btn btn-primary'>Story</button>
        </form>
    </div>
</div>

<div class='row' id='stories'>
    Loading...
</div>

<script>


function handleStoryCreateFormDidSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        console.log(serverResponse)
    }
    xhr.send(myFormData)
}


const storyCreateFormEl = document.getElementById("story-create-form")
storyCreateFormEl.addEventListener("submit", handleStoryCreateFormDidSubmit)

const storiesEl = document.getElementById("stories") 

function loadStories(storiesElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/stories"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const listedItems = serverResponse.response //array
        var finalStoryStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            var storyObj = listedItems[i]
            var currentItem = formatStoryElement(storyObj)
            finalStoryStr += currentItem
        }
        storiesElement.innerHTML = finalStoryStr
    }
    xhr.send()
}

loadStories(storiesEl)


function handleDidLike(story_id, currentCount){
    console.log(story_id, currentCount)
}

function LikeBtn(story){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + 
    story.id + "," + story.likes +")>" + story.likes + " Likes</button>"
}

function formatStoryElement(story) {
    var formattedStory = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 story' id='story-" + story.id 
    + "'><p>" + story.content + 
        "</p><div class='btn-group'>" + LikeBtn(story) +        
        "</div></div>"
    return formattedStory    
}


</script>
{% endblock content %}